<f:layout name="Profile" />

{namespace ajaxlogin=Tx_Ajaxlogin_ViewHelpers}

<f:section name="content">
	<f:form action="doChangePassword" objectName="user" object="{user}">
		<div class="b-form-row { -> ajaxlogin:hasFormError(for:'password', displayIfError:'b-form-error')}">
			<label for="tx-ajaxlogin-password-cur"><f:translate key="password.current" /></label>
			<div class="b-form-inputs">
				<f:form.password id="tx-ajaxlogin-password-cur" name="password[cur]" value="" />
				<f:if condition="{errors.current_password}"><div class="b-form-error-message">{errors.current_password}</div></f:if>
			</div>
		</div>
		<div class="b-form-row { -> ajaxlogin:hasFormError(for:'password', displayIfError:'b-form-error')}">
			<label for="tx-ajaxlogin-password-new"><f:translate key="password.new" /></label>
			<div class="b-form-inputs">
				<f:form.password id="tx-ajaxlogin-password-new" name="password[new]" value="" />
				<f:render partial="FormError" arguments="{_for: 'password'}" />
			</div>
		</div>
		<div class="b-form-row { -> ajaxlogin:hasFormError(for:'password', displayIfError:'b-form-error')}">
			<label for="tx-ajaxlogin-password-check"><f:translate key="password.repeat" /></label>
			<div class="b-form-inputs">
				<f:form.password id="tx-ajaxlogin-password-check" name="password[check]" value="" />
			</div>
		</div>
		<div class="b-form-row">
			<button type="submit" value="{f:translate(key: 'update_password')}" class="bu bu-mini">
				<f:translate key="update_password" />
			</button>
		</div>
	</f:form>
</f:section>
