<f:layout name="Profile" />

<f:section name="content">
	<f:form action="updatePassword" id="tx-zoatajaxlogin-editPassword">
		<div class="b-form-row">
			<label for="tx-zoatajaxlogin-password-new">
				<f:translate key="password.new" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-zoatajaxlogin-password-new" name="password[new]" value="" />
			</div>
		</div>

		<div class="b-form-row">
			<label for="tx-zoatajaxlogin-password-check">
				<f:translate key="password.check" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-zoatajaxlogin-password-check" name="password[check]" value="" />
			</div>
		</div>

		<div class="b-form-row">
			<button type="submit" value="{f:translate(key: 'update_password')}" class="bu bu-mini">
				<f:translate key="update_password" />
			</button>
		</div>
	</f:form>
</f:section>
