<f:layout name="Profile" />

<f:section name="content">
	<f:form action="updatePassword" objectName="user" object="{user}" id="tx-ajaxlogin-editPassword">		
		<div class="b-form-row">
			<label for="tx-ajaxlogin-password-new">
				<f:translate key="password.new" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-ajaxlogin-password-new" name="password[new]" value="" />
			</div>
		</div>
		
		<div class="b-form-row">
			<label for="tx-ajaxlogin-password-check">
				<f:translate key="password.check" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-ajaxlogin-password-check" name="password[check]" value="" />
			</div>
		</div>
		
		<div class="b-form-row">
			<button type="submit" value="{f:translate(key: 'update_password')}" class="bu bu-mini">
				<f:translate key="update_password" />
			</button>	
		</div>
	</f:form>
</f:section>
