<f:layout name="Widget" />

{namespace ajaxlogin=Zooom\ZoatAjaxlogin\ViewHelpers}

<f:section name="content">
	<f:form action="resetPassword">

		<div class="b-form-row">
			<label for="username_or_email">
				<f:translate key="username_or_email" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="username_or_email" name="usernameOrEmail" />
			</div>
		</div>

		<div class="b-form-row">
			<div class="login-action-links">
				<a href="#" rel="tx_zoatajaxlogin[login]">
					<f:translate key="login_user" />
				</a>
			</div>
			<button type="submit" value="{f:translate(key: 'recover_password')}" class="bu bu-mini">
				<f:translate key="recover_password" />
			</button>
		</div>
	</f:form>
</f:section>
