<f:layout name="Widget" />

<f:section name="content">
	<f:form id="{formToken}" action="create" objectName="user" object="{user}">		
		<div class="b-form-row">
			<label for="tx-ajaxlogin-user-name">
				<f:translate key="user.name" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-ajaxlogin-user-name" property="name" value="{user.name}" />
			</div>
		</div>
		
		<div class="b-form-row">
			<label for="tx-ajaxlogin-user-email">
				<f:translate key="user.email" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-ajaxlogin-user-email" property="email" value="{user.email}" />
			</div>
		</div>
	
		<div class="b-form-row">
			<label for="tx-ajaxlogin-user-username">
				<f:translate key="user.username" />
			</label>
			<div class="b-form-inputs">
				<f:form.textfield id="tx-ajaxlogin-user-username" property="username" value="{user.username}" />
			</div>
		</div>
	
		<div class="b-form-row">
			<label for="tx-ajaxlogin-user-password">
				<f:translate key="password.new" />
			</label>
			<div class="b-form-inputs">
				<f:form.password id="tx-ajaxlogin-user-password" property="password" value="" />
			</div>
		</div>
		
		<div class="b-form-row">			
			<div class="login-action-links">
				<a href="#" rel="tx_ajaxlogin[login]">
					<f:translate key="login_user" />
				</a>
			</div>
			<button type="submit" name="submit" value="{f:translate(key:'button_signup')}" class="bu darkgrey bu-mini">
				<f:translate key="button_signup" />
			</button>	
		</div>
	</f:form>
</f:section>