<f:layout name="Profile" />

<f:section name="content">
	<table>
		<tr>
			<th>
				<f:translate key="user.username" />
			</th>
			<td>{user.username}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.name" />
			</th>
			<td>{user.name}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.email" />
			</th>
			<td>{user.email}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.www" />
			</th>
			<td>{user.www}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.title" />
			</th>
			<td>{user.title}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.company" />
			</th>
			<td>{user.company}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.address" />
			</th>
			<td>{user.address}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.zip" />
			</th>
			<td>{user.zip}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.city" />
			</th>
			<td>{user.city}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.country" />
			</th>
			<td>{user.country}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.telephone" />
			</th>
			<td>{user.telephone}</td>
		</tr>
		
		<tr>
			<th>
				<f:translate key="user.fax" />
			</th>
			<td>{user.fax}</td>
		</tr>
	</table>
</f:section>
