<f:form.errors>
	<div class="tx-zoatajaxlogin-errors">
		<ul class="tx-zoatajaxlogin-error-property-{error.propertyName}">
			<f:for each="{error.errors}" as="propertyError">
				<li class="tx-zoatajaxlogin-error-property-{propertyError.propertyName}">
					{propertyError.message} ({propertyError.code})
					<ul>
					<f:for each="{propertyError.errors}" as="errorDetail">
						<li>
							{errorDetail.message} ({errorDetail.code})
						</li>
					</f:for>
					</ul>
				</li>
			</f:for>
		</ul>
	</div>
</f:form.errors>
