{namespace ajaxlogin=Zooom\ZoatAjaxlogin\ViewHelpers}

<f:if condition="{-> ajaxlogin:pageType()} > 0">
	<f:then>
		<div class="tx-zoatajaxlogin-widget">
			<div class="close"><a href="#" class="ajaxlogin-close">X</a></div>

			<ajaxlogin:flashMessages renderMode="div" class="tx-extbase-flash-message" />

			<f:render section="content" />
		</div>
	</f:then>
	<f:else>
		<div class="tx-zoatajaxlogin-profile">
			<ajaxlogin:flashMessages renderMode="div" class="tx-extbase-flash-message" />

			<f:render section="content" />
		</div>
	</f:else>
</f:if>
